<div class="row">
    <div class="col-lg-12" id="viewdiv">
<!--        <div id="toolbar" class="row">
            <div class="col-lg-3" style="float: right">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="输入活动名称搜索" ng-model="searchText" />
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="goSearch()"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="addnew()"><span class="glyphicon glyphicon-plus"></span></button>
                    </span>
                </div>
            </div>
        </div>-->
        <table id="datatable"></table>
    </div>
</div>