<div class="col-xs-12 _table" style="margin-bottom: 30px;">
<!--    <label style="float: left; margin-top: 30px; font-weight: normal; cursor: pointer;">
        <input type="checkbox" style="vertical-align: top;" ng-model="onlynameorphone1" ng-true-value="1" ng-false-value="0" ng-change="onlynameorphoneChange(this)" />只显示有姓名/电话的</label>
    <button class="btn btn-default columns-right pull-right btn-group addbtn" ng-click="exportVankeChoiceData()" title="导出" style="margin-top: 10px;">导出Excel</button>-->
    <table id="datatable_vkgcmr"></table>
</div>
